{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template local_coursetransfer/log_page

  Example context (json):

}}
<div class="local_coursetransfer" data-region="log_page">

    <a href="{{ back }}" class="btn btn-outline-primary mb-5">Volver a logs</a>

    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="type">Tipo de Petición</label>
                <input type="text" class="form-control" id="type" value="{{ type }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="siteurl">URL</label>
                <input type="text" class="form-control" id="siteurl" value="{{ siteurl }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="direction">Dirección</label>
                <input type="text" class="form-control" id="direction" value="{{ direction }}" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="destiny_request_id">Petición Destino</label>
                <input type="text" class="form-control" id="destiny_request_id" value="{{ destiny_request_id }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="request_category_id">Petición Categoría</label>
                <input type="text" class="form-control" id="request_category_id" value="{{ request_category_id }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="origin_course_id">ID Curso Origen</label>
                <input type="text" class="form-control" id="origin_course_id" value="{{ origin_course_id }}" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="origin_course_fullname">Nombre Curso Origen</label>
                <input type="text" class="form-control" id="origin_course_fullname" value="{{ origin_course_fullname }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="origin_course_shortname">Nombre corto Curso Origen</label>
                <input type="text" class="form-control" id="origin_course_shortname" value="{{ origin_course_shortname }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="origin_course_idnumber">ID Number Curso Origen</label>
                <input type="text" class="form-control" id="origin_course_idnumber" value="{{ origin_course_idnumber }}" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="origin_category_id">ID Categoría Origen</label>
                <input type="text" class="form-control" id="origin_category_id" value="{{ origin_category_id }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="origin_category_idnumber">Id Number Categoría Origen</label>
                <input type="text" class="form-control" id="origin_category_idnumber" value="{{ origin_category_idnumber }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="origin_category_name">Nombre Categoría Origen</label>
                <input type="text" class="form-control" id="origin_category_name" value="{{ origin_category_name }}" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="origin_enrolusers">Datos de Usuario</label>
                <input type="text" class="form-control" id="origin_enrolusers" value="{{ origin_enrolusers }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="origin_remove_course">Borrar el curso</label>
                <input type="text" class="form-control" id="origin_remove_course" value="{{ origin_remove_course }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="origin_remove_category">Borrar categoría</label>
                <input type="text" class="form-control" id="origin_remove_category" value="{{ origin_remove_category }}" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="origin_schedule_datetime">Tiempo de ejecución</label>
                <input type="text" class="form-control" id="origin_schedule_datetime" value="{{ origin_schedule_datetime }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="origin_remove_activities">Borrar actividades de Origen</label>
                <input type="text" class="form-control" id="origin_remove_activities" value="{{ origin_remove_activities }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="origin_activities">Activiades de origen</label>
                <input type="text" class="form-control" id="origin_activities" value="{{ origin_activities }}" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="origin_category_requests">Petición de Categoría de Origen</label>
                <input type="text" class="form-control" id="origin_category_requests" value="{{ origin_category_requests }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="origin_backup_size">Tamaño del Backup</label>
                <input type="text" class="form-control" id="origin_backup_size" value="{{ origin_backup_size }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="origin_backup_size_estimated">Tamaño Estimado del Backup</label>
                <input type="text" class="form-control" id="origin_backup_size_estimated" value="{{ origin_backup_size_estimated }}" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="origin_backup_url">URL del archivo de backup</label>
                <input type="text" class="form-control" id="origin_backup_url" value="{{ origin_backup_url }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="destiny_course_id">ID Curso Destino</label>
                <input type="text" class="form-control" id="destiny_course_id" value="{{ destiny_course_id }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="destiny_category_id">ID Categoría Destino</label>
                <input type="text" class="form-control" id="destiny_category_id" value="{{ destiny_category_id }}" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="destiny_remove_enrols">Borrar matriculaciones de destino</label>
                <input type="text" class="form-control" id="destiny_remove_enrols" value="{{ destiny_remove_enrols }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="destiny_remove_groups">Borrar grupos de destino</label>
                <input type="text" class="form-control" id="destiny_remove_groups" value="{{ destiny_remove_groups }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="destiny_target">Target de Destino</label>
                <input type="text" class="form-control" id="destiny_target" value="{{ destiny_target }}" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="error_code">Código de Error</label>
                <input type="text" class="form-control" id="error_code" value="{{ error_code }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="error_message">Mensaje de Error</label>
                <input type="text" class="form-control" id="error_message" value="{{ error_message }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="fileurl">URL Archivo</label>
                <input type="text" class="form-control" id="fileurl" value="{{ fileurl }}" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="userid">Usuario</label>
                <input type="text" class="form-control" id="userid" value="{{ userid }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="status">Estado</label>
                <input type="text" class="form-control" id="status" value="{{ status }}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="timemodified">Fecha ejecución</label>
                <input type="text" class="form-control" id="timemodified" value="{{ timemodified }}" disabled>
            </div>
        </div>
    </form>

</div>




