{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template local_coursetransfer/new_origin_restore_course_step2_page

  Example context (json):

}}
<div class="local_coursetransfer" data-region="new_origin_restore_course_step2_page">

    {{> local_coursetransfer/components/stepbystep }}

    <h3 class="h3">{{#str}} steps_restore_title, local_coursetransfer {{/str}}</h3>

    <p>{{#str}} step2_restore_desc, local_coursetransfer {{/str}}</p>

    {{# haserrors }}
        {{> local_coursetransfer/components/alert }}
    {{/ haserrors }}

    {{^ haserrors }}
        <h3 class="h2">{{#str}} step2_course_list, local_coursetransfer {{/str}}</h3>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>{{#str}} step2_course_id, local_coursetransfer {{/str}}</th>
                    <th>{{#str}} step2_course_name, local_coursetransfer {{/str}}</th>
                    <th>{{#str}} step2_course_shortname, local_coursetransfer {{/str}}</th>
                    <th>{{#str}} step2_course_idnumber, local_coursetransfer {{/str}}</th>
                    <th>{{#str}} step2_course_categoryid, local_coursetransfer {{/str}}</th>
                    <th>{{#str}} step2_course_categoryname, local_coursetransfer {{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{# courses }}
                    <tr data-action="course">
                        <td><input type="radio" name="radiogroup" data-action="select"></td>
                        <td id="courseid">{{ id }}</td>
                        <td>{{ fullname }}</td>
                        <td>{{ shortname }}</td>
                        <td>{{ idnumber }}</td>
                        <td>{{ categoryid }}</td>
                        <td>{{ categoryname }}</td>
                    </tr>
                {{/ courses }}
            </tbody>
        </table>
    {{/ haserrors }}

    {{> local_coursetransfer/components/action_buttons }}

</div>
<style>
    div[data-region='new_origin_restore_course_step2_page'] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div[data-region='new_origin_restore_course_step2_page'] div[data-region="stepbystep"] {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step2_page'] h3.h2 {
        font-size: 24px;
        font-weight: 600;
        width: 100%;
        padding: 10px;
        text-align: left;
    }
    div[data-region='new_origin_restore_course_step2_page'] h3.h3 {
        font-size: 28px;
        font-weight: 600;
        margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
    div[data-region='new_origin_restore_course_step2_page'] table {
        width: 100%;
    }
    div[data-region='new_origin_restore_course_step2_page'] table tr {
        font-size: 14px;
        font-weight: 400;
    }
    div[data-region='new_origin_restore_course_step2_page'] table th {
        border-bottom: 2px solid #9396AA;
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step2_page'] table td {
        border-top: 1px solid #D7D8E2;
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step2_page'] tbody {
        color: #7C7C7C;
    }
    div[data-region='new_origin_restore_course_step2_page'] p {
        font-size: 16px;
        font-weight: 400;
        margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
    div[data-region='new_origin_restore_course_step2_page'] div.button-container {
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step2_page'] div.button-container a.btn-primary {
        background: #0D6EFD;
    }
    div[data-region='new_origin_restore_course_step2_page'] div.button-container a.btn-light {
        border: 1px solid black;
    }
    div[data-region='new_origin_restore_course_step2_page'] tr.selected {
        color: black;
        background-color: #F7F9FC;
    }
    div[data-region='new_origin_restore_course_step2_page'] input[type="radio"]:checked, input[type="radio"]:active {
        box-shadow: none;
    }
</style>

{{#js}}
    require(['local_coursetransfer/origin_restore_course_step2'], function(restoreCourseStep2) {
        restoreCourseStep2.initRestoreCourseStep2('[data-region="new_origin_restore_course_step2_page"]', '{{ next_url }}');
    });
{{/js}}
