{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template local_coursetransfer/new_origin_restore_course_step3_page

  Example context (json):

}}
<div class="local_coursetransfer" data-region="new_origin_restore_course_step3_page">

    {{> local_coursetransfer/components/stepbystep }}

    <h3 class="h3">{{#str}} steps_restore_title, local_coursetransfer {{/str}}</h3>

    <p>{{#str}} step3_restore_desc, local_coursetransfer {{/str}}</p>

    <div class="course_details">
        <div class="course_details_header">
            <span class="text-white course-name">Course Name</span>
            <span class="text-white course-id">ID: Course ID</span>
        </div>
        <div class="course_details_body">
            <div class="row-1">
                <section>
                    <span class="section-tittle">Nombre Corto</span>
                    <span class="data text-muted">BP102</span>
                </section>
                <section>
                    <span class="section-tittle">ID number del Curso</span>
                    <span class="data text-muted">BP102</span>
                </section>
                <section>
                    <span class="section-tittle">Nombre Categoría</span>
                    <span class="data text-muted">BP102</span>
                </section>
            </div>
            <div class="row-2">
                <section>
                    <span class="section-tittle">ID Categoria</span>
                    <span class="data text-muted">BP102</span>
                </section>
                <section>
                    <span class="section-tittle">Tamaño del backup estimado</span>
                    <span class="data text-muted">BP102</span>
                </section>
            </div>
        </div>
    </div>

    <div class="button-container">
        <a type="button" class="btn btn-dark" href="{{ table_url }}">{{#str}} steps_buttons_cancel, local_coursetransfer {{/str}}</a>
        <a type="button" class="btn btn-light" href="{{ back_url }}">{{#str}} steps_buttons_back, local_coursetransfer {{/str}}</a>
        <a type="button" class="btn btn-primary" href="{{ next_url }}">{{#str}} steps_buttons_next, local_coursetransfer {{/str}}</a>
    </div>

</div>
<style>
    div[data-region='new_origin_restore_course_step3_page']{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div[data-region='new_origin_restore_course_step3_page'] div[data-region="stepbystep"] {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step3_page'] h3.h3{
        font-size: 28px;
        font-weight: 600;
        margin: auto;
        padding-top: 0;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
    div[data-region='new_origin_restore_course_step3_page'] p {
        font-size: 16px;
        font-weight: 400;
        margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.button-container{
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.button-container a.btn-primary{
        background: #0D6EFD;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.button-container a.btn-light{
        border: 1px solid black;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details {
        height: 20vh;
        width: 40%;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 10px;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 30%;
        background-color: #0c0c0c;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_header span.course-name {
        font-size: 18px;
        font-weight: 600;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_header span.course-id {
        font-size: 14px;
        font-weight: 500;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_body {
        height: 70%;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_body div.row-1, div.course_details_body div.row-2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50%;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_body section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_body section span.section-tittle {
        font-size: 14px;
        font-weight: 600;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_body section span.data {
        font-size: 14px;
        font-weight: 500;
    }
</style>
