{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template local_coursetransfer/new_origin_restore_course_step3_page

  Example context (json):

}}
<div class="local_coursetransfer" data-region="new_origin_restore_course_step3_page">

    {{> local_coursetransfer/components/stepbystep }}

    <h3 class="h3">{{#str}} steps_restore_title, local_coursetransfer {{/str}}</h3>

    <p>{{#str}} step3_restore_desc, local_coursetransfer {{/str}}</p>

    {{# haserrors }}
        {{> local_coursetransfer/components/alert }}
    {{/ haserrors }}

    {{^ haserrors }}
    <div class="course_details">
        <div class="course_details_header">
            <span class="text-white course-name">{{course.fullname}}</span>
            <span class="text-white course-id">ID: {{course.id}}</span>
        </div>
        <div class="course_details_body">
            <div class="row-1">
                <section>
                    <span class="section-tittle">{{#str}} step3_details_shortname, local_coursetransfer {{/str}}</span>
                    <span class="data text-muted">BP102</span>
                </section>
                <section>
                    <span class="section-tittle">{{#str}} step3_details_course_id, local_coursetransfer {{/str}}</span>
                    <span class="data text-muted">482400</span>
                </section>
                <section>
                    <span class="section-tittle">{{#str}} step3_details_category_name, local_coursetransfer {{/str}}</span>
                    <span class="data text-muted">Math</span>
                </section>
            </div>
            <div class="row-2">
                <section>
                    <span class="section-tittle">{{#str}} step3_details_category_id, local_coursetransfer {{/str}}</span>
                    <span class="data text-muted">220</span>
                </section>
                <section>
                    <span class="section-tittle">{{#str}} step3_details_backup_size, local_coursetransfer {{/str}}</span>
                    <span class="data text-muted">120 MB</span>
                </section>
            </div>
        </div>
    </div>

    <h4 class="h4">{{#str}} step3_sections_title, local_coursetransfer {{/str}}</h4>

    <div class="sections-table">
        <div class="sections-table-header">
            <div class="ckeckbox"></div>
            <div class="section-data">{{#str}} step3_sections_table_id, local_coursetransfer {{/str}}</div>
            <div class="section-data">{{#str}} step3_sections_table_number, local_coursetransfer {{/str}}</div>
            <div class="section-data">{{#str}} step3_sections_table_name, local_coursetransfer {{/str}}</div>
        </div>
        {{#course.sections}}
        <div class="section-row">
            <div class="section-info">
                <div class="ckeckbox"><input type="checkbox"></div>
                <div class="section-data">{{sectionid}}</div>
                <div class="section-data">{{sectionnum}}</div>
                <div class="section-data">{{sectionname}}</div>
            </div>
            {{#activities}}
            <div class="center-div">
                <div class="activities-table">
                    <div class="activities-table-header">
                        <div class="ckeckbox"></div>
                        <div class="activities-data">{{#str}} step3_activities_table_name, local_coursetransfer {{/str}}</div>
                        <div class="activities-data">{{#str}} step3_activities_table_type, local_coursetransfer {{/str}}</div>
                    </div>
                    <div class="activities-row">
                        <div class="ckeckbox"><input type="checkbox"></div>
                        <div class="activities-data">{{name}}</div>
                        <div class="activities-data">{{modname}}</div>
                    </div>
                </div>
            </div>
            {{/activities}}
        </div>
        {{/course.sections}}
    </div>
    {{/ haserrors }}

    <div class="button-container">
        <a type="button" class="btn btn-dark" href="{{ table_url }}">{{#str}} steps_buttons_cancel, local_coursetransfer {{/str}}</a>
        <a type="button" class="btn btn-light" href="{{ back_url }}">{{#str}} steps_buttons_back, local_coursetransfer {{/str}}</a>
        <a type="button" class="btn btn-primary" href="{{ next_url }}">{{#str}} steps_buttons_next, local_coursetransfer {{/str}}</a>
    </div>

</div>
<style>
    div[data-region='new_origin_restore_course_step3_page']{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div[data-region='new_origin_restore_course_step3_page'] div[data-region="stepbystep"] {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step3_page'] h3.h3{
        font-size: 28px;
        font-weight: 600;
        margin: auto;
        padding-top: 0;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
    div[data-region='new_origin_restore_course_step3_page'] p {
        font-size: 16px;
        font-weight: 400;
        margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.button-container{
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.button-container a.btn-primary{
        background: #0D6EFD;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.button-container a.btn-light{
        border: 1px solid black;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details {
        width: 50%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px 0;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0c0c0c;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_header span.course-name {
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_header span.course-id {
        font-size: 14px;
        font-weight: 500;
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_body div.row-1, div.course_details_body div.row-2 {
        display: flex;
        align-items: center;
        height: 50%;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_body section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 33%;
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_body section span.section-tittle {
        font-size: 14px;
        font-weight: 600;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.course_details_body section span.data {
        font-size: 14px;
        font-weight: 500;
    }
    div[data-region='new_origin_restore_course_step3_page'] h4.h4 {
        font-size: 24px;
        font-weight: 600;
        margin: auto;
        width: 50%;
        padding: 10px;
        text-align: left;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.sections-table {
        width: 50%;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.sections-table-header {
        display: flex;
        border-bottom: 2px solid #9396AA;
        padding: 5px;
        font-size: 14px;
        font-weight: 600;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.ckeckbox {
        width: 10%;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.section-data {
        width: 30%;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.section-info {
        display: flex;
        border-bottom: 1px solid #D7D8E2;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.section-row {
        display: flex;
        flex-direction: column;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.activities-table {
        width: 90%;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.center-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.activities-table-header {
        display: flex;
        border-bottom: 2px solid #9396AA;
        padding: 5px;
        font-size: 13px;
        font-weight: 600;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.ckeckbox {
        width: 10%;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.activities-data {
        width: 45%;
    }
    div[data-region='new_origin_restore_course_step3_page'] div.activities-row {
        display: flex;
        border-bottom: 1px solid #D7D8E2;
        padding: 5px;
        font-size: 13px;
        font-weight: 400;
    }
</style>
