{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template local_coursetransfer/new_origin_restore_course_step4_page

  Example context (json):

}}
<div class="local_coursetransfer" data-region="new_origin_restore_course_step5_page" data-restoreid="{{ restoreid }}" data-destinyid="{{ destinyid }}">

    {{> local_coursetransfer/components/stepbystep }}

    <h3 class="h3">{{#str}} steps_restore_title, local_coursetransfer {{/str}}</h3>

    {{# haserrors }}
        {{> local_coursetransfer/components/alert }}
    {{/ haserrors }}

    {{^ haserrors }}
        <p>{{#str}} step4_restore_desc, local_coursetransfer {{/str}}</p>

        <h3 class="h3">{{#str}} step5_restore_origin_site, local_coursetransfer {{/str}}</h3>

        <div class="origin-site">{{ host }}</div>

        <h3 class="h3">{{#str}} step5_restore_selected_course, local_coursetransfer {{/str}}</h3>

        {{> local_coursetransfer/components/course_details }}

        <h4 class="h4">{{#str}} step5_sections_title, local_coursetransfer {{/str}}</h4>

        <div class="sections-table">
            <div class="sections-table-header">
                <div class="ckeckbox"></div>
                <div class="section-data">{{#str}} sections_table_name, local_coursetransfer {{/str}}</div>
                <div class="section-data">{{#str}} sections_table_id, local_coursetransfer {{/str}}</div>
                <div class="section-data">{{#str}} sections_table_number, local_coursetransfer {{/str}}</div>
            </div>
            {{#course.sections}}
                {{> local_coursetransfer/components/section }}
            {{/course.sections}}
        </div>

        <h4 class="h4">{{#str}} step5_configuration_title, local_coursetransfer {{/str}}</h4>

        {{> local_coursetransfer/components/course_configuration }}
        <div class="alert alert-danger hidden" role="alert"></div>

    {{/ haserrors }}

    <div class="button-container">
        <a type="button" class="btn btn-dark" href="{{ table_url }}">{{#str}} steps_buttons_cancel, local_coursetransfer {{/str}}</a>
        <a type="button" class="btn btn-light" href="{{ back_url }}">{{#str}} steps_buttons_back, local_coursetransfer {{/str}}</a>
        <button type="button" class="btn btn-primary" data-action="execute-restore">{{#str}} execute_restore, local_coursetransfer {{/str}}</button>
    </div>

</div>
<style>
    div[data-region='new_origin_restore_course_step5_page']{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div[data-region='new_origin_restore_course_step5_page'] div[data-region="stepbystep"] {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    div[data-region='new_origin_restore_course_step5_page'] h3.h3{
        font-size: 28px;
        font-weight: 600;
        padding-top: 0;
        margin-top: 20px;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
    div[data-region='new_origin_restore_course_step5_page'] p {
        font-size: 16px;
        font-weight: 400;
        margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.origin-site {
        width: 50%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px 0;
        padding: 20px 0;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }
    div[data-region='new_origin_restore_course_step5_page'] h4.h4 {
        font-size: 24px;
        font-weight: 600;
        margin-top: 20px;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.sections-table {
        width: 50%;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.sections-table-header {
        display: flex;
        border-bottom: 2px solid #9396AA;
        padding: 5px;
        font-size: 14px;
        font-weight: 600;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.section-info {
        display: flex;
        border-bottom: 1px solid #D7D8E2;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.section-row {
        display: flex;
        flex-direction: column;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.activities-table {
        width: 90%;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.center-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.activities-table-header {
        display: flex;
        border-bottom: 2px solid #9396AA;
        padding: 5px;
        font-size: 13px;
        font-weight: 600;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.activities-data {
        width: 45%;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.ckeckbox {
        width: 10%;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.activities-row {
        display: flex;
        border-bottom: 1px solid #D7D8E2;
        padding: 5px;
        font-size: 13px;
        font-weight: 400;
    }
    div[data-region='new_origin_restore_course_step5_page'] .selected {
        background-color: #F7F9FC;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.ckeckbox {
        width: 10%;
    }
    div[data-region='new_origin_restore_course_step5_page'] div.section-data {
        width: 30%;
    }
</style>
{{#js}}
    require(['local_coursetransfer/origin_restore_course_step5'], function(restoreCourseStep5) {
        restoreCourseStep5.initRestoreCourseStep5('[data-region="new_origin_restore_course_step5_page"]', {{ siteposition }});
    });
{{/js}}
