{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template local_coursetransfer/components/category_courses

  Example context (json):

}}
<table style="width: 100%">
    <thead>
    <tr>
        <th></th>
        <th>{{#str}} step2_course_id, local_coursetransfer {{/str}}</th>
        <th>{{#str}} step2_course_name, local_coursetransfer {{/str}}</th>
        <th>{{#str}} step2_course_shortname, local_coursetransfer {{/str}}</th>
        <th>{{#str}} step2_course_idnumber, local_coursetransfer {{/str}}</th>
        <th>{{#str}} step2_course_categoryid, local_coursetransfer {{/str}}</th>
        <th>{{#str}} step2_course_categoryname, local_coursetransfer {{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{# category.courses }}
        <tr data-action="course">
            <td>{{# selectable }}<input type="checkbox"
                       name="radiogroup"
                       data-action="select"
                       data-courseid="{{ id }}"
                       {{# disabled }}disabled{{/ disabled }}>{{/ selectable }}</td>
            <td id="courseid"><a href="{{ url }}" target="_blank">{{ id }}</a></td>
            <td>{{ fullname }}</td>
            <td>{{ shortname }}</td>
            <td>{{ idnumber }}</td>
            <td>{{ categoryid }}</td>
            <td>{{ categoryname }}</td>
        </tr>
    {{/ category.courses }}
    </tbody>
</table>
{{^ category.courses }}
    <div class="alert alert-primary mt-4" role="alert" style="width: 100%; text-align: center">
        {{#str}} not_courses, local_coursetransfer {{/str}}
    </div>
{{/ category.courses }}