{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template local_coursetransfer/components/stepbystep

  Example context (json):

}}
<div data-region="restore_course_config">
    <ul class="configuration-list">
        <li class="configuration-group">
            <div class="checkbox">
                <input class="configuration-checkbox" id="destiny_merge_activities" type="checkbox">
            </div>
            <div class="config-info">
                <div class="config-title">{{#str}} config_destiny_merge_activities, local_coursetransfer {{/str}}</div>
                <div class="config-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum eros, nec vulputate libero egestas eu. Donec nisi nunc, tempor at nisi quis, venenatis tristique ipsum.</div>
            </div>
        </li>
        <li class="configuration-group">
            <div class="checkbox">
                <input class="configuration-checkbox" id="destiny_remove_enrols" type="checkbox">
            </div>
            <div class="config-info">
                <div class="config-title">{{#str}} config_destiny_remove_enrols, local_coursetransfer {{/str}}</div>
                <div class="config-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum eros, nec vulputate libero egestas eu. Donec nisi nunc, tempor at nisi quis, venenatis tristique ipsum.</div>
            </div>
        </li>
        <li class="configuration-group">
            <div class="checkbox">
                <input class="configuration-checkbox" id="destiny_remove_groups" type="checkbox">
            </div>
            <div class="config-info">
                <div class="config-title">{{#str}} config_destiny_remove_groups, local_coursetransfer {{/str}}</div>
                <div class="config-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum eros, nec vulputate libero egestas eu. Donec nisi nunc, tempor at nisi quis, venenatis tristique ipsum.</div>
            </div>
        </li>
        <li class="configuration-group">
            <div class="checkbox">
                <input class="configuration-checkbox" id="destiny_remove_activities" type="checkbox">
            </div>
            <div class="config-info">
                <div class="config-title">{{#str}} config_destiny_remove_activities, local_coursetransfer {{/str}}</div>
                <div class="config-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ipsum eros, nec vulputate libero egestas eu. Donec nisi nunc, tempor at nisi quis, venenatis tristique ipsum.</div>
            </div>
        </li>
    </ul>
</div>
<style>
    div[data-region='restore_course_config']{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div[data-region='restore_course_config'] ul.configuration-list {
        list-style-type: none;
        padding: 0;
        width: 75%;
    }
    div[data-region='restore_course_config'] li.configuration-group {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    div[data-region='restore_course_config'] div.checkbox {
        padding: 0 5%;
    }
    div[data-region='restore_course_config'] div.config-title {
        padding-bottom: 5px;
        font-size: 14px;
        font-weight: 700;
    }
    div[data-region='restore_course_config'] div.config-desc {
        padding-bottom: 5px;
        padding-right: 10px;
        font-size: 12px;
        font-weight: 400;
    }
    div[data-region='restore_course_config'] input[type="checkbox"]:checked, input[type="checkbox"]:active, input[type="checkbox"]:disabled {
        box-shadow: none;
    }
</style>
