{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Project implemented by the "Recovery, Transformation and Resilience Plan.
    Funded by the European Union - Next GenerationEU".
    Produced by the UNIMOODLE University Group: Universities of
    Valladolid, Complutense de Madrid, UPV/EHU, León, Salamanca,
    Illes Balears, Valencia, Rey Juan Carlos, La Laguna, Zaragoza, Málaga,
    Córdoba, Extremadura, Vigo, Las Palmas de Gran Canaria y Burgos
}}
{{!
  @template local_coursetransfer/components/stepbystep

  Example context (json):
  {
  }

}}
<div data-region="restore_course_config">
    {{#restore_this_course }}
    <h5>{{#str}} restoretocurrentcourse, backup {{/str}}</h5>
    <ul class="configuration-list">
        {{#can_target_restore_merge }}
        <li class="configuration-group">
            <div class="checkbox">
                <input class="configuration-checkbox" id="target_merge_activities" name="restore_into" type="radio" checked>
            </div>
            <div class="config-info">
                <div class="config-title">{{#str}} config_target_merge_activities, local_coursetransfer {{/str}}</div>
                <div class="config-desc">{{#str}} config_target_merge_activities_desc, local_coursetransfer {{/str}}</div>
            </div>
        </li>
        {{/can_target_restore_merge }}
        {{#can_target_restore_content_remove }}
        <li class="configuration-group">
            <div class="checkbox">
                <input class="configuration-checkbox" id="target_remove_activities" name="restore_into" type="radio">
            </div>
            <div class="config-info">
                <div class="config-title">{{#str}} config_target_remove_activities, local_coursetransfer {{/str}}</div>
                <div class="config-desc">{{#str}} config_target_remove_activities_desc, local_coursetransfer {{/str}}</div>
            </div>
        </li>
        {{/can_target_restore_content_remove }}
    </ul>
    {{/restore_this_course }}
    {{#remove_in_target }}
    <h5>{{#str}} deleteintarget, local_coursetransfer {{/str}}</h5>
    <ul class="configuration-list">
        {{#can_target_restore_groups_remove }}
        <li class="configuration-group">
            <div class="checkbox">
                <input class="configuration-checkbox" id="target_remove_groups" type="checkbox">
            </div>
            <div class="config-info">
                <div class="config-title">{{#str}} config_target_remove_groups, local_coursetransfer {{/str}}</div>
                <div class="config-desc">{{#str}} config_target_remove_groups_desc, local_coursetransfer {{/str}}</div>
            </div>
        </li>
        {{/can_target_restore_groups_remove }}
        {{#can_target_restore_enrol_remove }}
        <li class="configuration-group">
            <div class="checkbox">
                <input class="configuration-checkbox" id="target_remove_enrols" type="checkbox">
            </div>
            <div class="config-info">
                <div class="config-title">{{#str}} config_target_remove_enrols, local_coursetransfer {{/str}}</div>
                <div class="config-desc">{{#str}} config_target_remove_enrols_desc, local_coursetransfer {{/str}}</div>
            </div>
        </li>
        {{/can_target_restore_enrol_remove }}
    </ul>
    {{/remove_in_target }}
    {{#origin_course_configuration }}
    <h5>{{#str}} restore_origin_data, local_coursetransfer {{/str}}</h5>
    <ul class="configuration-list">
        {{#has_origin_user_data }}
        <li class="configuration-group">
            <div class="checkbox">
                <input class="configuration-checkbox" id="origin_enrol_users" type="checkbox">
            </div>
            <div class="config-info">
                <div class="config-title">{{#str}} restore_origin_user_data, local_coursetransfer {{/str}}</div>
                <div class="config-desc">{{#str}} restore_origin_user_data_desc, local_coursetransfer {{/str}}</div>
            </div>
        </li>
        {{/has_origin_user_data }}
        {{#can_remove_origin_course }}
        <li class="configuration-group">
            <div class="checkbox">
                <input class="configuration-checkbox" id="origin_remove_course" type="checkbox">
            </div>
            <div class="config-info">
                <div class="config-title"><i class="fa fa-exclamation-triangle mr-2" aria-hidden="true" style="color: orange"></i>{{#str}} restore_origin_remove, local_coursetransfer {{/str}}</div>
                <div class="config-desc">{{#str}} restore_origin_remove_desc, local_coursetransfer {{/str}}</div>
            </div>
        </li>
        {{/can_remove_origin_course }}
        {{#has_scheduled_time }}
        <li class="configuration-group">
            <div class="checkbox">
                <input class="configuration-checkbox" id="origin_schedule" type="checkbox">
            </div>
            <div class="config-info">
                <div class="config-title">{{#str}} origin_schedule, local_coursetransfer {{/str}}</div>
                <div class="config-desc">{{#str}} origin_schedule_desc, local_coursetransfer {{/str}}</div>
            </div>
        </li>
        <li class="configuration-group ml-6">
            <div class="config-info">
                <div class="config-title">{{#str}} origin_schedule_datetime, local_coursetransfer {{/str}}</div>
            </div>
            <div class="checkbox">
                <input class="configuration-checkbox" id="origin_schedule_datetime" type="datetime-local" disabled>
            </div>
        </li>
        {{/has_scheduled_time }}
    </ul>
     {{/origin_course_configuration }}
</div>
<style>
    div[data-region='restore_course_config']{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    div[data-region='restore_course_config'] ul.configuration-list {
        list-style-type: none;
        padding: 0;
        width: 50%;
    }
    div[data-region='restore_course_config'] li.configuration-group {
        display: flex;
        margin: 20px 0;
    }
    div[data-region='restore_course_config'] div.checkbox {
        padding: 0 5%;
    }
    div[data-region='restore_course_config'] div.config-title {
        padding-bottom: 5px;
        font-size: 14px;
        font-weight: 700;
    }
    div[data-region='restore_course_config'] div.config-desc {
        padding-bottom: 5px;
        padding-right: 10px;
        font-size: 12px;
        font-weight: 400;
    }
    div[data-region='restore_course_config'] input[type="checkbox"]:checked, input[type="checkbox"]:active, input[type="checkbox"]:disabled {
        box-shadow: none;
    }
</style>
