{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template local_coursetransfer/components/stepbystep

  Example context (json):

}}
<div class="local_coursetransfer" data-region="stepbystep">

    <ul>
        <li><a href="http://cncs.test/local/coursetransfer/origin_restore_course.php?id=6&new=1&step=1">Paso 1</a></li>
        <li><a href="http://cncs.test/local/coursetransfer/origin_restore_course.php?id=6&new=1&step=2">Paso 2</a></li>
        <li><a href="http://cncs.test/local/coursetransfer/origin_restore_course.php?id=6&new=1&step=3">Paso 3</a></li>
        <li><a href="http://cncs.test/local/coursetransfer/origin_restore_course.php?id=6&new=1&step=4">Paso 4</a></li>
    </ul>

</div>